@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Quicksand:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
}

body {
  color: #ffffff;
  margin: 0 auto;
  background: url(12.jpg);
  background-position: center;
  background-size: cover;
}

header {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #0000002d;
  backdrop-filter: blur(15px);
  color: rgb(255, 255, 255);
  position: fixed;
  margin: 0;
  z-index: 2;
}

.logo-home {
  border-radius: 50%;
  background: #000000;
}

.logo {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.logo a:hover {
  cursor: pointer;
}

.navbar i {
  font-size: 36px;
  display: none;
}

#toggle-menu {
  display: none;
}


.navbar-list {
  list-style: none;
  display: flex;
  gap: 40px;
  background: transparent;
}

.navbar-list a {
  font-size: 15px;
  background: #00000052;
  color: rgb(255, 255, 255);
  border-radius: 30px;
  padding: 10px;
  transition: ease 0.5s;
}

.navbar-list a:hover {
  color: #000000;
  background-color: rgb(255, 255, 255);
}

main {
  width: 100% ;
  background: #000000b0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  gap: 40px;
}

#hero {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 180px 0 60px;
  gap: 2.8rem;
  flex-wrap: wrap;
  padding: 1rem;
}

.hero-div1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 600px;
  gap: 40px;
  width: 100%;
}
.hero-title h1 {
  font-size: 72px;
  font-family: "Quicksand", sans-serif;
  font-weight: 800;
  padding-bottom: 20px;
}

.hero-title h2 {
  color: rgb(237, 237, 9);
  font-size: 24px;
  font-weight: 500;
}

.hero-title p {
  color: rgb(235, 235, 12);
  font-size: 18px;
  text-align: justify;
  max-width: 600px;
  margin-top: 20px;
}

span {
  font-weight: 600;
}

.hero-btns-container {
  display: flex;
  width: 100%;
  gap: 20px;
}

.hero-btn {
  padding: 10px;
  width: 120px;
  background-color: rgba(0, 0, 0, 0.7); 
  border-radius: 30px;
  cursor: pointer;
  font-size: 12px;
  text-align: center;
  font-weight: 600;
  transition: background-color 0.3s ease, transform 0.3s ease, font-weight 0.3s ease, color 0.3s ease;
}

.hero-btn a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  transition: color 0.3s ease;
}

.hero-btn:hover {
  font-weight: 700;
  background-color: rgb(255, 255, 255);
  transform: scale(1.05);
}

.hero-btn:hover a {
  color: #000000;
}



.hero__img {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  border-radius: 12%;
  height: auto;
  transition: ease 0.5s;
  border: 5px solid rgb(215, 215, 215);
}

.hero__img img {
  background-color: rgba(0, 0, 0, 0.718);
  width: 360px;
  height: 360px;
  border-radius: 10%;
}

#about {
  width: 90%;
  background-color: rgba(0, 0, 0, 0.823);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  text-align: center;
  padding: 2rem;
}

.about__h2 {
  font-family: "Quicksand", sans-serif;
  font-size: 30px;
  color: yellow;
}

.about__p {
  max-width: 80%;
  margin: auto;
  font-size: 20px;
}

.about__span {
  font-weight: 600;
  font-size: 18px;
  font-family: "Quicksand", sans-serif;
}

#cards {
  max-width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 1rem 0;
}

.cards__title {
  font-family: "Quicksand", sans-serif;
  font-size: 30px;
  margin-bottom: 30px;
  color: yellow;
}

.cards__p {
  font-size: 20px;
  text-align: center;
  max-width: 90%;
}

.cards-container {
  display: flex;
  justify-content: center;
  gap: 3rem;
  align-items: center;
  position: relative;
  flex-wrap: wrap;
}

.card {
  width: 100%;
  height: 370px;
  max-width: 320px;
  margin-top: 40px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  justify-content: space-around;
  border: 2px solid #ffffff;
  border-radius: 20px;
  text-align: center;
  font-size: 16px;
  position: relative;
  backdrop-filter: blur(10px);
  transition: ease 0.5s;
}

.card:hover {
  box-shadow: 0px 0.8px 10px #ffffff;
  transform: scale(1.05);
}

.card img {
  width: 170px;
  height: 120px;
  margin: auto;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px;
  box-shadow: 0px 1px 10px #ffffff;
}

.card h3 {
  font-family: "Quicksand", sans-serif;
  font-size: 1.2rem;
  color: yellow;
}

/**Seccion Galeria**/

#galeria {
  max-width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 1rem 0;
}

.galeria_tittle {
  font-family: "Quicksand", sans-serif;
  font-size: 30px;
  margin-bottom: 30px;
  color: yellow;
}

.galery-container {
  padding: 5px;
  display: grid;
  place-content: center;
  grid-template-columns: 350px 200px 150px 150px;
  grid-auto-rows: 1fr;
  gap: 10px;
  height: 100vh;
  border-radius: 20px;
  background-color: #000000ed;
}

.item {
  border-radius: 8px;
  transition: ease 0.5s;
}

.item:hover {
  box-shadow: 0px 0.8px 10px #34bb46;
  transform: scale(1.03);
}

.item:nth-child(1) {
  grid-column: 1/2;
  grid-row: 1/3;
  background: url(/IMAGENES-GALERIA/1.jpg) no-repeat center/cover;
}

.item:nth-child(2) {
  grid-column: 2/3;
  grid-row: 1/2;
  background: url(/IMAGENES-GALERIA/2.jpg) no-repeat center/cover;
}

.item:nth-child(3) {
  grid-column: 3/4;
  grid-row: 1/2;
  background: url(/IMAGENES-GALERIA/3.jpg) no-repeat center/cover;
}

.item:nth-child(4) {
  grid-column: 4/5;
  grid-row: 1/2;
  background: url(/IMAGENES-GALERIA/4.jpg) no-repeat center/cover;
}

.item:nth-child(5) {
  grid-column: 1/2;
  grid-row: 3/4;
  background: url(/IMAGENES-GALERIA/5.jpg) no-repeat center/cover;
}

.item:nth-child(6) {
  grid-column: 2/4;
  grid-row: 2/4;
  background: url(/IMAGENES-GALERIA/6.jpg) no-repeat center/cover;
}

.item:nth-child(7) {
  grid-column: 4/5;
  grid-row: 2/3;
  background: url(/IMAGENES-GALERIA/7.jpg) no-repeat center/cover;
}

.item:nth-child(8) {
  grid-column: 4/5;
  grid-row: 3/3;
  background: url(/IMAGENES-GALERIA/8.jpg) no-repeat center/cover;
}

#contact {
  width: 100%;
  padding: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 50px;
}

.contact-us {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: auto;
  gap: 40px;
}

.contact-us h2 {
  font-family: "Quicksand", sans-serif;
  font-size: 30px;
  color: yellow;
}

.sucursales {
  display: flex;
  justify-content: flex-start;
  gap: 100px;
  margin-left: 30px;
}

.sucursal {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.sucursales__ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-decoration: none;
  gap: 20px;
  list-style: none;
}

.icon_li {
  width: 1rem;
  margin-right: 0.4rem;
}

li a {
  color: #ffffff;
  text-decoration: none;
}

.social {
  display: flex;
  gap: 16px;
  margin-left: 30px;
}

.social img {
  width: 55px;
  height: 55px;
  transition-duration: 0.5s;
}

.social img:hover {
  transform: scale(1.2);
}

.social a {
  height: 30px;
  transition: ease 0.5s;
}

iframe {
  height: 340px;
  padding: 0;
  margin: 0;
  border-radius: 1.5rem;
}

footer {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 8px;
  padding: 0.8rem 2rem;
  background: #000000;
}

footer img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

footer span {
  font-size: 13px;
  background-color: transparent;
  color: #fff;
}